.gitignore
03_lesson/03_lesson/__pycache__/address.cpython-313.pyc
03_lesson/03_lesson/__pycache__/mailing.cpython-313.pyc
03_lesson/03_lesson/__pycache__/smartphone.cpython-313.pyc
.gitignore
03_lesson/03_lesson/__pycache__/user.cpython-313.pyc
07_lesson/CalcPage/test_02_calcpage_obj.py
04_lesson/04_lesson/__pycache__/test_string_processor.cpython-313-pytest-8.4.2.pyc
03_lesson/тренировка/__pycache__/course_group.cpython-313.pyc
03_lesson/тренировка/__pycache__/book.cpython-313.pyc
03_lesson/тренировка/__pycache__/product.cpython-313.pyc
03_lesson/тренировка/__pycache__/student.cpython-313.pyc
04_lesson/04_lesson/__pycache__/string_processor.cpython-313.pyc
04_lesson/04_lesson/__pycache__/string_utils.cpython-313.pyc
04_lesson/04_lesson/__pycache__/test_string_utils.cpython-313-pytest-8.4.2.pyc
04_lesson/тренировка/__pycache__/string_processor.cpython-313.pyc
.gitignore
04_lesson/тренировка/__pycache__/test_string_processor.cpython-313-pytest-8.4.2.pyc
06K_lesson/__pycache__/test_01_form.cpython-313-pytest-8.4.2.pyc
06K_lesson/__pycache__/test_02_calc.cpython-313-pytest-8.4.2.pyc
06K_lesson/__pycache__/test_03_shop.cpython-313-pytest-8.4.2.pyc
07_lesson/__pycache__/test_01_form_page_obj.cpython-313-pytest-8.4.2.pyc
07_lesson/CalcPage/test_02_calcpage_obj.py
07_lesson/ShopPage/__pycache__/test_03_ShopPage_obj.cpython-313-pytest-8.4.2.pyc
07_lesson/ShopPage/__pycache__/LoginPage.cpython-313.pyc
07_lesson/ShopPage/__pycache__/CheckoutPage.cpython-313.pyc
.gitignore
07_lesson/ShopPage/__pycache__/BasePage.cpython-313.pyc
07_lesson/ShopPage/__pycache__/CartPage.cpython-313.pyc
07_lesson/ShopPage/__pycache__/InventoryPage.cpython-313.pyc
08_lesson/__pycache__/test_api_docs.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/test_auth.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/test_postman_auth.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/test_swagger_explore.cpython-313-pytest-8.4.2.pyc
.gitignore
08_lesson/PUT/__pycache__/test_projects_put_positive.cpython-313-pytest-8.4.2.pyc
08_lesson/PUT/__pycache__/test_projects_put_negative.cpython-313-pytest-8.4.2.pyc
08_lesson/POST/__pycache__/test_projects_positive.cpython-313-pytest-8.4.2.pyc
__pycache__/test_example.cpython-313-pytest-8.4.2.pyc
08_lesson/PUT/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
.gitignore
08_lesson/POST/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
08_lesson/GET/__pycache__/test_projects_get_positive.cpython-313-pytest-8.4.2.pyc
.gitignore
08_lesson/GET/__pycache__/test_projects_get_negative.cpython-313-pytest-8.4.2.pyc
08_lesson/POST/__pycache__/test_projects_negative.cpython-313-pytest-8.4.2.pyc
08_lesson/GET/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/test_projects_positive.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/test_projects_negative.cpython-313-pytest-8.4.2.pyc
08_lesson/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
07_lesson/CalcPage/test_02_calcpage_obj.py
